<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fr.demo.metier.dao.profilcadre.ReclamationMapper">

    <resultMap id="reclamationResult" type="fr.demo.metier.dto.ReclamationDto">
        <id property="idReclamation" column="ID_RECLAMATION"/>
        <result property="causeReclamation" column="CAUSE_RECLAMATION"/>
        <result property="familleReclamation" column="FAMILLE_RECLAMATION"/>
        <result property="typeReclamation" column="TYPE_RECLAMATION"/>
        <result property="fonde" column="FONDE"/>
        <result property="reponse" column="REPONSE"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="url" column="URL"/>
        <result property="statut" column="STATUT"/>
        <result property="audit.utilisateurCreation" column="UTILISATEUR_CREATION"/>
        <result property="audit.dateCreation" column="DATE_CREATION"/>
        <result property="audit.utilisateurModification" column="UTILISATEUR_MODIFICATION"/>
        <result property="audit.dateModification" column="DATE_MODIFICATION"/>
        <result property="numeroVersion" column="NUMERO_VERSION"/>
    </resultMap>
    
    <select id="getReclamationById" parameterType="java.lang.Long" resultMap="reclamationResult">
        SELECT
        ID_RECLAMATION,
        CAUSE_RECLAMATION,
        FAMILLE_RECLAMATION,
        TYPE_RECLAMATION,
        FONDE,
        REPONSE,
        DESCRIPTION,
        URL,
        STATUT,
        NUMERO_VERSION
        FROM
        RECLAMATION REC
        WHERE REC.ID_RECLAMATION = #{value} AND REC.INDICATEUR_SUPPRESSION = 0
    </select>

    <select id="exists" parameterType="java.lang.Long" resultType="boolean">
        SELECT COUNT(1) FROM RECLAMATION WHERE ID_RECLAMATION = #{value}
    </select>

    <insert id="create" parameterType="fr.demo.metier.dto.ReclamationDto">
        INSERT INTO RECLAMATION (
		ID_RECLAMATION,
        CAUSE_RECLAMATION,
        FAMILLE_RECLAMATION,
        TYPE_RECLAMATION,
        FONDE,
        REPONSE,
        DESCRIPTION,
        URL,
        STATUT,
        UTILISATEUR_CREATION,
        DATE_CREATION, NUMERO_VERSION)
        VALUES
        (#{idReclamation},#{causeReclamation},#{familleReclamation},#{typeReclamation},#{fonde},#{reponse},#{description},
        #{url},#{statut},#{audit.utilisateurCreation},SYSDATE, 0)
        
        <selectKey resultType="java.lang.Long" keyProperty="idReclamation" order="BEFORE">
            SELECT SQ_RECLAMATION.NEXTVAL FROM dual
        </selectKey>
    </insert>

    <update id="update" parameterType="fr.demo.metier.dto.ReclamationDto">
        UPDATE RECLAMATION
        SET
	        CAUSE_RECLAMATION = #{causeReclamation},
	        FAMILLE_RECLAMATION = #{familleReclamation},
	        TYPE_RECLAMATION = #{typeReclamation},
	        FONDE = #{fonde},
	        REPONSE = #{reponse},
	        DESCRIPTION = #{description},
	        URL = #{url},
	        STATUT = #{statut},
            UTILISATEUR_MODIFICATION = #{audit.utilisateurModification},
            DATE_MODIFICATION = SYSDATE,
            NUMERO_VERSION = #{numeroVersion} + 1
        WHERE ID_RECLAMATION = #{idReclamation} AND NUMERO_VERSION = #{numeroVersion} AND INDICATEUR_SUPPRESSION = 0
    </update>

    

    <select id="getIdsReclamationForBatch" parameterType="map" resultType="long">
        <![CDATA[
		SELECT ID_RECLAMATION
		FROM RECLAMATION  I
		WHERE ID_NOM_STATUT = #{statutOuvert }
		AND DATE_MODIFICATION <= #{executionDate}
		ORDER BY ID_RECLAMATION DESC
	]]>
    </select>

    <select id="getIdsReclamationByIntervalForBatch" parameterType="map" resultType="long">
        SELECT ID_RECLAMATION
        FROM RECLAMATION WHERE DATE_MODIFICATION BETWEEN #{startDate} AND #{endDate}
        ORDER BY ID_RECLAMATION DESC
    </select>

</mapper>